@charset "UTF-8";
.fondo {
  background-image: url(./img/fondo-luna-futurista.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedor-principal-juego {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-pag1 {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  position: relative;
}
.contenedor-pag1__col1 {
  z-index: 2;
  color: aliceblue;
}
.contenedor-pag1__col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.contenedor-pag1__col3 {
  z-index: 2;
  color: aliceblue;
}
.contenedor-pag1__content-resultados {
  width: 800px;
  height: 450px;
  color: white;
  opacity: 0;
  transition: 0.5s;
  transform: scale(0);
  z-index: 3;
  position: absolute;
  background-image: url(./img/futuristic-ninja-digital-2.jpg);
  background-size: cover;
  left: 28%;
  top: 25%;
  -webkit-clip-path: polygon(0% 5%, 3% 0%, 7% 0%, 10% 5%, 90% 5%, 93% 0%, 97% 0%, 100% 5%, 100% 95%, 97% 100%, 93% 95%, 8% 95%, 3% 100%, 0% 95%);
          clip-path: polygon(0% 5%, 3% 0%, 7% 0%, 10% 5%, 90% 5%, 93% 0%, 97% 0%, 100% 5%, 100% 95%, 97% 100%, 93% 95%, 8% 95%, 3% 100%, 0% 95%);
}
.contenedor-pag1__content-perdio {
  width: 600px;
  height: 400px;
  color: white;
  opacity: 0;
  transition: 0.5s;
  transform: scale(0);
  z-index: 3;
  position: absolute;
  background-color: #23fe1c;
  left: 40%;
  top: 30%;
}
.active .contenedor-pag1__content-resultados {
  opacity: 1;
  transition-delay: 0.5s;
  transform: scale(1);
}
.contenedor-pag1 .titulo-gano {
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 0;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}
.contenedor-pag1 .subtitulo-gano {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 5px;
  margin-left: 30px;
  color: #ff00ee;
}
.contenedor-pag1 .table-results-gano {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 600px;
  margin: 0 35px;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 20px;
}
.contenedor-pag1 .table-results-gano__tittle {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ff00ee;
  border-radius: 3px;
  padding: 10px 25px;
  font-size: 18px;
  color: #000;
}
.contenedor-pag1 .table-results-gano__tittle--description {
  background-color: #020110;
  color: #fff;
}
.contenedor-pag1 .table-results-gano__item {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.contenedor-pag1 .table-results-gano__results {
  color: #ffff00;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.contenedor-pag1 .container-table-gano-palabra {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenedor-pag1 .table-results-gano-palabra {
  margin: 0;
  position: relative;
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke: 0.2px #c3c3c3;
  text-transform: uppercase;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.contenedor-pag1 .table-results-gano-palabra::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #f70f6c;
  -webkit-text-stroke: 0vw #f70f6c;
  border-right: 2px solid #f70f6c;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0% {
    width: 0;
  }
  60% {
    width: 100%;
  }
  80% {
    width: 100%;
  }
  0% {
    width: 0;
  }
}
.lost .contenedor-pag1__content-perdio {
  opacity: 1;
  transition-delay: 0.5s;
  transform: scale(1);
}
.active .contenedor-pag1__col2 {
  z-index: 1;
}
.lost .contenedor-pag1__col2 {
  z-index: 1;
}

.titulo-ahorcado {
  font-size: 300px;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1d0a49;
  opacity: 0.8;
  text-shadow: 5px 5px 5px white;
  margin-bottom: 0;
}

.nuevo-juego-text {
  position: relative;
  bottom: 135px;
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #3300f2;
  text-shadow: 0px 0px 5px #130113;
  text-decoration: none;
}

.nuevo-juego-text:hover {
  text-shadow: 0px 0px 5px #a5e5f1;
}

.fondo2 {
  background-image: url(./img/fondo-luna-futurista.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Cambia el color y la opacidad según tus necesidades */
  z-index: 2;
}

.titulo-ahorcado-page2 {
  font-size: 70px;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-shadow: 5px 5px 5px #1d0a49;
  margin-bottom: 0;
  margin-top: 10px;
  z-index: 3;
}

.game-zone {
  z-index: 3;
  background-image: url(./img/ahorcado-gaming.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0% 5%, 3% 0%, 7% 0%, 10% 5%, 90% 5%, 93% 0%, 97% 0%, 100% 5%, 100% 95%, 97% 100%, 93% 95%, 8% 95%, 3% 100%, 0% 95%);
          clip-path: polygon(0% 5%, 3% 0%, 7% 0%, 10% 5%, 90% 5%, 93% 0%, 97% 0%, 100% 5%, 100% 95%, 97% 100%, 93% 95%, 8% 95%, 3% 100%, 0% 95%);
  margin-bottom: 20px;
}

.button-container-class {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.custom-button {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 60px;
  /* Ajusta el tamaño según sea necesario */
  height: 60px;
  /* Ajusta el tamaño según sea necesario */
  background-color: #3e3e3e;
  /* Color de fondo similar */
  border: none;
  /* Elimina el borde por defecto */
  border-radius: 15px;
  /* Redondeo de esquinas */
  position: relative;
  box-shadow: inset 0px 0px 5px rgb(0, 0, 0), 3px 3px 15px rgb(0, 0, 0);
  cursor: pointer;
  outline: none;
  z-index: 4;
  background-image: url(./img/fondo-btn.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  color: rgba(255, 255, 255, 0.6);
  font-size: 40px;
  transition: box-shadow 0.3s ease, color 0.3s ease;
  margin: 5px 10px;
}

.custom-button:hover {
  box-shadow: inset 0px 0px 5px rgb(255, 255, 255), 3px 3px 15px rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.9);
}

.words-zone {
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}