.fondo {
    background-image: url(./img/fondo-luna-futurista.jpg);

    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor-principal-juego {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-pag1 {
    display: grid;
    grid-template-columns: 17.5% 65% 17.5%;
    position: relative;

    .palabra-ganaste{
        position: absolute;
        top: 15px;
        left: 250px;
        font-family: "New Amsterdam", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 35px;
        color: #f70f6c;
        letter-spacing: 1px;
        animation: ganador 0.5s ease infinite;
        
    }

    .palabra-perdiste{
        position: absolute;
        top: 15px;
        left: 250px;
        font-family: "New Amsterdam", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
        color: #f70f6c;
        letter-spacing: 1px;
        animation: ganador2 0.5s ease infinite;
    }

    

    @keyframes ganador {
        0%{
            color: #ffffff;
            letter-spacing: 1px;
        }

        100%{
            left: 230px;
            letter-spacing: 3px;
            color: #ff00ee;
        }
    }

    @keyframes ganador2 {
        0%{
            color: #ffffff;
            letter-spacing: 1px;
        }

        100%{
            left: 230px;
            letter-spacing: 3px;
            color: #ff4400;
        }
    }


    &__col1 {
        z-index: 2;
        color: aliceblue;
        display: flex;
        align-items: center;
    }

    &__col2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    &__col3 {
        z-index: 2;
        color: aliceblue;
        
    }

    &__content-resultados {
        width: 800px;
        height: 470px;
        color: white;
        opacity: 0;
        transition: 0.5s;
        transform: scale(0);
        z-index: 3;
        position: absolute;
        background-image: url(./img/futuristic-ninja-digital-2.jpg);
        background-size: cover;
        left: 28%;
        top: 25%;
        clip-path: polygon(0% 5%, 3% 0%, 7% 0%, 10% 5%, 90% 5%, 93% 0%, 97% 0%, 100% 5%,
                100% 95%, 97% 100%, 93% 95%, 8% 95%, 3% 100%, 0% 95%);
    
    }



    &__content-perdio {
        width: 800px;
        height: 470px;
        color: white;
        opacity: 0;
        transition: 0.5s;
        transform: scale(0);
        z-index: 3;
        position: absolute;
        background-image: url(./img/warrior-end-game-3.png);
        background-size: cover;
        left: 28%;
        top: 25%;
        clip-path: polygon(0% 5%, 3% 0%, 7% 0%, 10% 5%, 90% 5%, 93% 0%, 97% 0%, 100% 5%,
                100% 95%, 97% 100%, 93% 95%, 8% 95%, 3% 100%, 0% 95%);
    }

    .active &__content-resultados {
        opacity: 1;
        transition-delay: 0.5s;
        transform: scale(1);

    }

    .titulo-gano {
        //background-color: rgba(0, 0, 0, 0.5);
        margin-left: 30px;
        margin-top: 50px;
        margin-bottom: 0;
        font-family: "Cabin", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: #ffffff;
    }

    .subtitulo-gano {
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        margin-top: 5px;
        margin-left: 30px;
        color: #ff00ee;
    }

    .subtitulo-gano--perdio{
        color: #ff6600;
    }

    .table-results-gano {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 600px;
        margin: 0 35px;
        gap: 5px;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 0 20px;

        &__tittle {
            font-family: "Righteous", sans-serif;
            font-weight: 400;
            font-style: normal;
            background-color: #ff00ee;
            border-radius: 3px;
            padding: 10px 25px;
            font-size: 18px;
            color: #000;
        }

        &__tittle--perdio{
            background-color: #ff4400;
        }

        &__tittle--description {
            background-color: #020110;
            color: #fff;
        }

        &__tittle--description--perdio{
            background-color: #0c141b;
        }

        

        &__item {
            font-family: "Cabin", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
        }

        &__results {
            color: #ffff00;
            font-family: "Cabin", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
        }
    }

    .container-table-gano-palabra {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .btn-otra-partida{
            background-color: #f70f6c;
            font-family: "Righteous", sans-serif;
            font-weight: 400;
            font-style: normal;
            padding: 8px;
            border-radius: 5px;
            cursor: pointer;

            &__perdio{
                background-color: #ff4400;
            }

        }

        .btn-otra-partida:hover{
            background-color: #fff;
            color: #f70f6c;
        }

        .btn-otra-partida__perdio:hover{
            color: #ff4400;
        }

        
    }

    .table-results-gano-palabra {
        margin: 0;
        position: relative;
        font-size: 50px;
        color: transparent;
        -webkit-text-stroke: 0.2px #c3c3c3;
        text-transform: uppercase;
        font-family: "Righteous", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .table-results-gano-palabra::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: #f70f6c;
        -webkit-text-stroke: 0vw #f70f6c;
        border-right: 2px solid #f70f6c;
        overflow: hidden;
        animation: animate 6s linear infinite;
    }

    .table-results-gano-palabra--perdio::before{
        color: #ff4400;
        -webkit-text-stroke: 0vw #ff4400;
        border-right-color: #ff4400;
    }

    @keyframes animate {
        0% {
            width: 0;
        }

        60% {
            width: 100%;
        }
        80% {
            width: 100%;
        }
        0% {
            width: 0;
        }
       
    }


    .lost &__content-perdio {
        opacity: 1;
        transition-delay: 0.5s;
        transform: scale(1);
    }

    .active &__col2 {
        z-index: 1;
    }

    .lost &__col2 {
        z-index: 1;
    }
}

.contedor-col-formulario{
    background-image: url(./img/futuristic-playgame.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 450px;
    margin-left: 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__tittle{
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        -webkit-text-stroke: 1px #ff0044;
    }
    &__input{
        margin-bottom: 10px;
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        width: 200px;
    }
    &__btn{
        background-color: #fe1a5b;
        border-color: #fe1a5b;
        font-family: "Cabin", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        width: 80px;
        color: #fff;
        border-radius: 15px;
        padding: 8px 0;
    }

    
}

.contenedor-letras-usadas{
    background-image: url(./img/cyberponk-boy.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 0;
    margin-right: 15px;
    min-height: 100px;
    

    &__tittle{
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 20px;
        text-align: center;
        color: #fff;
    }

    
}


.contenedor-lista-palabras{
    display: flex;
    justify-content: center;
    align-items: center;
    &__letra{
        display: flex;
    justify-content: center;
    align-items: center;
        color: #fff;
        font-family: "Cabin", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
        font-size: 40px;
        margin: 0 10px;
    }
}

.titulo-ahorcado {
    font-size: 300px;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1d0a49;
    opacity: 0.8;
    text-shadow: 5px 5px 5px white;
    margin-bottom: 0;
}

.nuevo-juego-text {
    position: relative;
    bottom: 135px;
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #3300f2;
    text-shadow: 0px 0px 5px #130113;
    text-decoration: none;
}

.nuevo-juego-text:hover {
    text-shadow: 0px 0px 5px #a5e5f1;
}





//FONDO
.fondo2 {
    background-image: url(./img/fondo-luna-futurista.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.fondo2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cambia el color y la opacidad según tus necesidades */
    z-index: 2;
}

.titulo-ahorcado-page2 {
    font-size: 70px;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-shadow: 5px 5px 5px #1d0a49;
    margin-bottom: 0;
    margin-top: 10px;
    z-index: 3;
}

.game-zone {

    z-index: 3;
    background-image: url(./img/ahorcado-gaming.png);
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 5%, 3% 0%, 7% 0%, 10% 5%, 90% 5%, 93% 0%, 97% 0%, 100% 5%,
            100% 95%, 97% 100%, 93% 95%, 8% 95%, 3% 100%, 0% 95%);
    margin-bottom: 20px;

}


.button-container-class {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 150px;
}


.custom-button {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 60px;
    /* Ajusta el tamaño según sea necesario */
    height: 60px;
    /* Ajusta el tamaño según sea necesario */
    background-color: #3e3e3e;
    /* Color de fondo similar */
    border: none;
    /* Elimina el borde por defecto */
    border-radius: 15px;
    /* Redondeo de esquinas */
    position: relative;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 1), 3px 3px 15px rgba(0, 0, 0, 1);
    cursor: pointer;
    outline: none;
    z-index: 4;
    background-image: url(./img/fondo-btn.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    color: rgb(255, 255, 255, 0.6);
    font-size: 40px;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    margin: 5px 10px;
}

.custom-button:hover {
    box-shadow: inset 0px 0px 5px rgb(255, 255, 255), 3px 3px 15px rgb(255, 255, 255);
    color: rgb(255, 255, 255, 0.9);
}

.words-zone {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}